<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Register User</h2>
        <p class="alert alert-danger" ng-show="register.error">{{register.error.message}}</p>
        <form ng-submit="register.submit()">
            <div class="form-group">
                <label for="name">User name</label>
                <input ng-model="register.name" type="text" id="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input ng-model="register.email" type="text" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input ng-model="register.password" type="password" id="password" class="form-control" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
                <button ng-click="register.goSignIn()" type="button" class="btn btn-default">Sign In</button>
            </div>
        </form>
    </div>
</div>